*{
    margin: 0;
    padding: 0;
}
/* google font link */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600;800&display=swap');
/* Sheared Style */
h1{
    font-family: 'Work Sans', sans-serif;
    color: #0B0223;
    font-size: 2rem;
    font-weight: 700;
}
.bg-color{
    color: #FF42A5;
}
.flex-item{
    display: flex;
}
.btn-praimary{
    margin-top: 30px;
    background-color: #FF42A5;
    padding: 15px 30px;
    border: none;
    border-radius: 20px;
    color: #fff;
    font-weight: 700;
    margin-bottom: 10px;
}
.title{
    color: #F948B2;
    font-size: 2.2rem;
    font-weight: 800;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 10px;
}
.text-color{
    color: rgba(83, 76, 100, 1);
    margin: 10px;
    font-weight: 600;
}
/* header Style start */
.nav-container{
    justify-content: space-around;
    background-color: white;
    padding: 30px;
    text-align: center;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.05);
    align-items: center;
}
.g-style{
    color: #FF42A5;
    margin-left: 10px;
}
/* .amer-style{
    color: #0B0223;
    font-size: 2rem;
    font-weight: 700;
} */
.list-items{
    list-style: none;
    gap: 30px;
    align-items: center;
}
.list-items a{
    text-decoration: none;
    color: #3C354F;
    font-size: 1rem;
    font-weight: 500;
}
.follow-link{
    background-color: rgba(11, 2, 35, 0.10); 
    border-radius: 8px;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    gap: 15px;
}
.fa-youtube{
    color: red;
    font-size: 1.4rem;
}
/* Main Style */
main{
    max-width: 1440px;
    margin: 0 auto;
}
/* Benner Container Style */
.benner-main-container{
    justify-content: space-evenly;
    background-image: url(images/Group\ 14.png);
    background: linear-gradient(235deg, rgba(88, 18, 219, 0.03) 0%, rgba(213, 14, 137, 0.03) 100%);
   
}
.title-container{
     margin-top: 100px;
}
.title-container>p{
    margin-top: 8px;
}
.goat-title{
    /* color: #F948B2; */
    font-size: 3rem;
    font-weight: 800;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.btn-rogue{
    margin-top: 30px;
    background-color: #4EC5F7;
    padding: 15px 35px;
    border: none;
    border-radius: 20px;
    color: #fff;
    font-weight: 700;
    margin-left: 20px;
}
.img-container img{
    height: 100%;
    width: 80%;
    margin-left: 15%;
    margin-top: 40px;
}
/* We are gamer section Style */
.we-are-gamer-img img{
    height: 100%;
    width: 80%;
    margin-left: 15%;
    margin-top: 40px;
}
.gamer-title-container{
    margin-top: 80px;
    text-align: right;
    padding-right: 150px;
    margin-right: 20px;
    width: 30%;
}
.unleash-title{
    color: #534C64;
    font-size: 1.1rem;
    font-weight: 700;
}
/* Online games and card Style */
.games-title-container{
    text-align: center;
    margin-top: 50px;
}
.games-container{
    margin-top: 50px;
    padding-right: 150px;
    padding-left: 150px;
}
.games-card img{
    height: 80%;
    width: 90%;
    margin: 0 auto;
    cursor: pointer;
}
/* .games-card img:hover{
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.60) 0%, rgba(0, 0, 0, 0.60) 100%); border-radius: 16px; border: 2px #FF42A5 solid;
    width: 100%; height: 100%; position: relative; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: inline-flex;
    width: 48px; height: 48px; background: white
} */






/* Responsive for small Device */
@media screen and (max-width:576px) {
    .nav-container,
    .list-items,
    .benner-main-container,
    .we-are-gamer-container,
    .games-container
    {
        flex-direction: column;
    }
    .nav-container,
    .list-items{
        gap: 30px;
    }
    .benner-main-container{
        flex-direction: column-reverse;
    }
    .title-container{
        text-align: center;
        margin-top: 40px;
    }
    .gamer-title-container{
        text-align: center;
        width: 100%;
        padding: 0;
        margin: 0;
    }
    .games-card img{
        height: 100%;
        width: 100%;
    }
    .games-container{
        width: 80%;
        margin-top: 30px;
        padding-right: 40px;
        padding-left: 40px;
        gap: 50px;
    }
}

/* Responsive for Medium Device */
@media screen and (min-width:576px) and (max-width:960px) {
    .nav-container,
    .benner-main-container,
    .we-are-gamer-container,
    .games-container
    {
        flex-direction: column;
    }
    .nav-container,
    .list-items{
        gap: 30px;
    }
    /* .benner-main-container{
        flex-direction: column-reverse;
    } */
    .title-container{
        text-align: center;
        margin-top: 40px;
    }
    .gamer-title-container{
        text-align: center;
        width: 100%;
        padding: 0;
        margin: 0;
    }
    .games-container{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        width: 80%;
        margin-top: 50px;
        padding-right: 60px;
        padding-left: 60px;
        gap: 40px;
    }
}