*{
    margin: 0;
    padding: 0;
}
/* google font link */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600;800&display=swap');
/* Sheared Style */
h1{
    font-family: 'Work Sans', sans-serif;
    color: #0B0223;
    font-size: 2rem;
    font-weight: 700;
}
.bg-color{
    color: #FF42A5;
}
.flex-item{
    display: flex;
}
.btn-praimary{
    margin-top: 30px;
    background-color: #FF42A5;
    padding: 15px 30px;
    border: none;
    border-radius: 20px;
    color: #fff;
    font-weight: 700;
    margin-bottom: 10px;
}
.title{
    color: #F948B2;
    font-size: 2.2rem;
    font-weight: 800;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 10px;
}
.text-color{
    color: rgba(83, 76, 100, 1);
    margin: 10px;
    font-weight: 600;
}
/* header Style start */
.nav-container{
    justify-content: space-around;
    background-color: white;
    padding: 30px;
    text-align: center;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.05);
    align-items: center;
}
.g-style{
    color: #FF42A5;
    margin-left: 10px;
}
/* .amer-style{
    color: #0B0223;
    font-size: 2rem;
    font-weight: 700;
} */
.list-items{
    list-style: none;
    gap: 30px;
    align-items: center;
}
.list-items a{
    text-decoration: none;
    color: #3C354F;
    font-size: 1rem;
    font-weight: 500;
}
.follow-link{
    background-color: rgba(11, 2, 35, 0.10); 
    border-radius: 8px;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    gap: 15px;
}
.youtube-icon{
    color: red;
    font-size: 1.4rem;
}
/* Main Style */
main{
    max-width: 1440px;
    margin: 0 auto;
}
/* Benner Container Style */
.benner-main-container{
    justify-content: space-evenly;
    background-image: url(images/Group\ 14.png);
    background: linear-gradient(235deg, rgba(88, 18, 219, 0.03) 0%, rgba(213, 14, 137, 0.03) 100%);
   
}
.title-container{
     margin-top: 100px;
}
.title-container>p{
    margin-top: 8px;
}
.goat-title{
    /* color: #F948B2; */
    font-size: 3rem;
    font-weight: 800;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.btn-rogue{
    margin-top: 30px;
    background-color: #4EC5F7;
    padding: 15px 35px;
    border: none;
    border-radius: 20px;
    color: #fff;
    font-weight: 700;
    margin-left: 20px;
}
.img-container img{
    height: 100%;
    width: 80%;
    margin-left: 15%;
    margin-top: 40px;
}
/* We are gamer section Style */
.we-are-gamer-img img{
    height: 100%;
    width: 80%;
    margin-left: 15%;
    margin-top: 40px;
}
.gamer-title-container{
    margin-top: 80px;
    text-align: right;
    padding-right: 150px;
    margin-right: 20px;
    width: 30%;
}
.unleash-title{
    color: #534C64;
    font-size: 1.1rem;
    font-weight: 700;
}
/* Online games and card Style */
.games-title-container{
    text-align: center;
    margin-top: 50px;
}
.games-container{
    margin-top: 50px;
    padding-right: 150px;
    padding-left: 150px;
}
.games-card{
    position: relative;
}
.games-card img{
    height: 80%;
    width: 90%;
    margin: 0 auto;
    cursor: pointer;
}

.games-card .overlay{
    position: absolute;
    width: 90%;
    height: 80%;
    background: rgba(28, 27, 27, 0.616);
    backdrop-filter: blur(2px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 1rem;
    gap: 1rem;
    border: 2px solid #F948B2;
    opacity: 0;
    transition: opacity 0.5s;
    color: #FFF;
    font-size: 1rem;
    margin-top: -307px;
}
.overlay:hover{
    opacity: 1;
    cursor: pointer;
}

/* Play Instantly Section Start */
.play-instantly-container{
    margin-top: 100px;
    gap: 150px;
}
.instantly-title-container{
    width: 40%;
    text-align: right;
    margin-top: 12%;
}
.instantly-title-container>p{
    padding-left: 200px;
}
.instantly-img{
    height: 500px;
    width: 90%;
}
.img-66{
    height: 250px;
    position: relative;
    margin-top: -200px;
    margin-left: -100px;
}
/* Play Online Style */
.play-online-container{
    flex-direction: row-reverse;
    margin-top: 80px;
    gap: 0px;
}
.online-title-container{
    width: 50%;
    text-align: left;
    margin-top: 12%;
}
.online-img{
    height: 550px;
    width: 60%;
    margin-left: 150px;
}
.play-online-img .img-78{
    height: 280px;
    position: relative;
    margin-left: 650px;
    margin-top: -200px;
}

/* .play-online{
    flex-direction: row-reverse;
    padding-left: 150px;
    padding-right: 150px;
}
.play-online-title{
    padding-right: 150px;
}
.play-online-img{
    padding-left: 150px;
} */

/* More games style  */
.more-games-container{
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
    padding: 50px 130px;
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
}
.more-games-container .more-game{
    color: #0B0223;
    font-size: 1rem;
    font-weight: 600;
    border-radius: 50px;
    background: #FFF;
    display: flex;
    align-items: center;
    padding: 7px 15px;
    border: none;
}
.more-game img{
    padding-right: 10px;
    height: 40px;
    width: 40px;
}
.more-game:hover{
    cursor: pointer;
    color: #F948B2;
    border: 1px solid #F948B2;
}

/* footer Style */
.footer-container{
    background: #0B0223;
    padding: 80px 100px;
}
.footer-title h3{
    padding-left: 20px;
    color: #FFF;
    font-size: 3rem;
    font-weight: 700;
}
.footer-title{
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
}
.footer-about-container,
.logo-container,
.policy-container{
    display: flex;
    gap: 40px;
    justify-content: center;
}

.footer-about-container a{
    color: #FFF;
    font-size: 1.4rem;
    font-weight: 600;
    text-decoration: none;
}
.icon-color{
    background-color: rgb(27, 21, 202); 
    border-radius: 20%;
}
.logo-container{
     padding-top: 60px;
}
.logo-container a{
    color: #FFF;
    font-size: 2.2rem;
    font-weight: 600;
    text-decoration: none;
}
.policy-container a,
.footer-copyright-text p{
    color: darkgray;
    font-size: 1rem;
    font-weight: 500;
    text-decoration: none;
    padding-top: 40px;
    text-align: center;
}




/* Responsive for small Device */
@media screen and (max-width:576px) {
    .nav-container,
    .list-items,
    .benner-main-container,
    .we-are-gamer-container,
    .games-container,
    .play-instantly-container,
    .play-online-container
    {
        flex-direction: column;
    }
    .nav-container,
    .list-items{
        gap: 30px;
    }
    .benner-main-container{
        flex-direction: column-reverse;
    }
    .title-container{
        text-align: center;
        margin-top: 40px;
    }
    .gamer-title-container,
    .instantly-title-container,
    .instantly-title-container>p,
    .online-title-container
    {
        text-align: center;
        width: 100%;
        padding: 0;
        margin: 0;
    }
    /* Online games and card Style Responsive */
    
    .games-container{
        width: 80%;
        margin-top: 30px;
        padding-right: 40px;
        padding-left: 40px;
        gap: 50px;
    }
    .games-card img{
        height: 100%;
        width: 100%;
    }
    
    .games-card{
        flex-direction: column;
        gap: 40px;
        position: relative;
        margin-left: 70px;
    }
    .games-card .overlay{
        position: absolute;
        width: 100%;
        height: 90%;
        margin-top: -374px;
    }

    /* Instantly section Responsive Style */
    .instantly-img{
        margin-top: 0;
        margin-left: 30px;
    }
    .img-66{
        margin-top: -150px;
        margin-left: -30px;
    }
    .online-title-container>p{
        padding:0 50px;
        margin-bottom: 50px;
    }
    .online-img{
        margin-left: 50px;
        height: 500px;
        width: 82%;
    }
    .play-online-img .img-78{
        position: relative;
        margin-top: -180px;
        margin-left: 260px;
        width: 45%;
    }
    /* more games Responsive Style */
    .more-games-container{
        margin-top: 30px;
        padding: 50px 30px;
        display: grid;
        grid-template-columns: repeat(3, 3fr);
    }
    .more-games-container .more-game{
        font-size: .8rem;
        padding: 5px;
    }
    .more-game img{
        padding-right: 3px;
        width: 25px;
        height: 25px;
    }
    /* footer responsive */
    .footer-container{
        padding: 40px;
    }
    .footer-title{
        padding-bottom: 0px;
    }
    .footer-title>h3{
        font-size: 2rem;
    }
    .footer-about-container,
    .logo-container{
        display: grid;
        grid-template-columns: repeat(3, 3fr);
    }
    .policy-container{
        display: grid;
        grid-template-columns: repeat(2, 2fr);
        text-align: center;
    }
    .policy-container a,
    .footer-about-container a{
        padding-top: 5px;
    }
    .footer-about-container,
    .logo-container,
    .policy-container{
        margin-top: 30px;
        gap: 15px;
        padding-top: 10px;
        text-align: center;
    }
}

/* Responsive for Medium Device */
@media screen and (min-width:576px) and (max-width:960px) {
    .nav-container,
    .benner-main-container,
    .we-are-gamer-container,
    .games-container,
    .play-instantly-container,
    .play-online-container
    {
        flex-direction: column;
    }
    .nav-container,
    .list-items{
        gap: 30px;
    }
    /* .benner-main-container{
        flex-direction: column-reverse;
    } */
    .title-container{
        text-align: center;
        margin-top: 40px;
    }
    .gamer-title-container,
    .instantly-title-container,
    .instantly-title-container>p
    {
        text-align: center;
        width: 100%;
        padding: 0;
        margin: 0;
    }
    .games-container{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        width: 80%;
        margin-top: 50px;
        padding-right: 60px;
        padding-left: 60px;
        gap: 40px;
    }
    .instantly-img{
        margin-top: 0;
        margin-left: 30px;
    }
    .img-66{
        margin-top: -150px;
        margin-left: -40px;
    }
    .online-title-container{
        text-align: center;
        width: 100%;
        margin-bottom: 50px;
    }
    .online-img{
        margin-left: 50px;
        height: 500px;
        width: 80%;
    }
    .play-online-img .img-78{
        position: relative;
        margin-top: -180px;
        margin-left: 380px;
    }
    /* more games Responsive Style */
    .more-games-container{
        margin-top: 30px;
        padding: 50px 30px;
        display: grid;
        grid-template-columns: repeat(3, 3fr);
    }
    .more-games-container .more-game{
        font-size: 1.2rem;
        padding: 5px;
    }
    .more-game img{
        padding-right: 3px;
        width: 35px;
        height: 35px;
    }
     /* footer responsive */
     .footer-container{
        padding: 40px;
    }
    .footer-title{
        padding-bottom: 0px;
    }
    .footer-title>h3{
        font-size: 2.5rem;
    }
    .footer-about-container,
    .logo-container{
        display: grid;
        grid-template-columns: repeat(3, 3fr);
    }
    .policy-container{
        display: grid;
        grid-template-columns: repeat(2, 2fr);
        text-align: center;
    }
    .policy-container a,
    .footer-about-container a{
        padding-top: 5px;
    }
    .footer-about-container,
    .logo-container,
    .policy-container{
        margin-top: 30px;
        gap: 25px;
        padding-top: 10px;
        text-align: center;
    }

}


